.ViewProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    > div {
      // background-image: url('https://static.vecteezy.com/system/resources/previews/024/484/857/large_2x/environment-earth-day-in-natural-green-leaves-and-plants-used-as-spring-background-cover-page-greenery-environment-ecology-wallpaper-concept-eco-earth-day-saving-the-environment-generate-ai-free-photo.jpg');
      // background-repeat: no-repeat;
      // background-size: cover;
      width: 70%;
      border: 1px solid lightgrey;
      border-radius: 1.2rem;
      padding: 1rem;
      background-color: #e1f1ff;
  
      > div {
        width: 45%;
      }
  
    //   .EditInfor {
    //     padding: 0.5rem;
    //     border-radius: 1rem;
  
    //     > img {
    //       height: 7rem;
    //       width: 7rem;
    //       margin: auto;
    //       border-radius: 50%;
    //     }
  
    //     h1 {
    //       font-size: 1.3rem;
    //       text-align: center;
    //       margin: 0.3rem;
    //     }
  
        // > div {
        //   > h3 {
        //     margin-top: 0.5rem;
        //     margin-bottom: 0.1rem;
        //   }
  
        //   > div {
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
  
        //     > div {
        //       width: 90%;
  
        //       > input {
        //         border: 0.5px solid rgb(189, 189, 189);
        //         border-radius: 0.5rem;
        //         padding: 0.3rem 0.4rem;
        //         width: 100%;
        //       }
        //     }
        //   }
        // }
  
        // .buttonSave {
        //   margin-top: 1rem;
        //   color: white;
  
        //   > button {
        //     background-color: rgb(84, 84, 255);
        //     padding: 0.3rem;
        //     width: 30%;
        //     border-radius: 0.5rem;
        //     margin: auto;
        //     text-align: center;
        //   }
        // }
    //   }
    }
  }
  