@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.divider {
  @apply mx-2 h-6 border-l border-gray-300;
}

.tool-btn {
  @apply mx-2 cursor-pointer rounded-lg text-lg transition-all duration-200;
}
